* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Hero img {
    width:100%;
    height: 500px;
    object-fit: cover;
}

header {
    background-color: #796c09;
    padding: 1rem;
    margin-top: 0px;
    font-family: "poppins", sans-serif;
}

.introduction{
    font-family: "poppins", sans-serif;
}

main p{
    font-weight: lighter;
    color: #ccc
}

body {
    background: #2d2d2d !important;
    color: #ccc !important;
    font-family: "poppins", sans-serif;
    font-weight: lighter;   
}

input,
textarea,
button{
    font-family: "poppins" , sans-serif;
}

article {
    padding: 20px;
}

article p{
    color:#ccc
}

article a{
    color: #796c09;
    text-decoration: none;
}

article a:hover{
    text-decoration: underline;
}

h1{
    color:white;
    font-family:fantasy;
}

h2 {
    margin-bottom: 15px;
}

.movie-card h3,
.movie-card p {
    padding: 0.5rem;
    line-height: 0.5rem;
}

section {
    padding: 20px;
}



.movie-row {
    display: flex;
    gap: 25px;
}

.movie-link{
    text-decoration: none;
}


.movie-card {
    transition: box-shadow 0.3s ease;
    border-radius: 10px;
}

.movie-card a{
    text-decoration: none;
}

.movie-card:hover {
    box-shadow: 0 0 20px #796c09;
    border-radius: 10px;
}

.movie-card img {
    border-radius: 10px;
}

.section-title {
    display: flex;
    justify-content: space-between;
}

.movie-grid {
    display: flex;
    gap: 25px;
}

section a {
    color: white
}

header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

footer {
    padding: 20px 20px;
    display: block;
    justify-content: center;
    background-color: #796c09;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-section{
    max-width: 250px;
}

.footer-bottom{
    text-align: center;
    width:100%;
    border-top: 1px solid;
    margin-top: 30px;
    padding-top: 20px;
}

.footer-section a{
    text-decoration: none;
}

.footer-section a:hover{
    text-decoration: underline;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover{
    color: #2d2d2d;
}

.Navbar {
    gap: 20px;
    display: flex;
    gap: 20px;
}

.section img {
    height: 250px;
    width: 200px;
}

.About-us,
aside h3,
aside p,
.Website-Tuts {
    padding: 20px;
}

.Website-Tuts p{
    margin-top: 10px;
}

.mission p{
    margin-top: 10px;
}


section ul{
    margin-top: 10px;
}

.About-us p
.about p {
    margin-top: 10px;
}


 
 

 .about-main-text{
    max-width: 900px;
    margin: 0 auto;
    padding:40px;
 }

 .about-main-text{
    line-height: 1.8;
 }
 form{
    max-width:600px;
    margin:auto;
    padding:1rem;
    border-radius: 6px;
 }

 label{
    display: block;
    margin-top: 1rem;
    padding: 0 0.5rem;
 }

 input,
 textarea{
    width:100%;
    padding: 0.5rem;
    margin-top: 0.25rem;
 }

 textarea{
    width:100%;
 }

 button{
    margin-top: 0.5rem;
    padding:0.5rem 1rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
 }

 button:hover{
    background: #796c09;
    transform: translateY(-2px);
 }

 table{
    width:50%;
    margin: 40px auto;
    border-collapse: collapse;
 }
  caption{
    font-size: 24px;
    margin-bottom: 15px;
  }

  th,
  td{
    border: 1px solid #796c09;
    text-align: left;
  }

  th{
    background-color: #111;
    color: white;
  }

  .movie-info img{
    height: 450px;
    width:400px;
    display: flex;
    align-items: center;
  }

  .movie-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    margin: 50px auto;
    width:80%;
  }

  .poster img{
    width: 300px;
    border-radius: 6px;
  }

  .movie-info{
    max-width:500px;
  }

  

  .movie-info h1 {
    font-family: "poppins", sans-serif;
    color:white;
}

.movie-info h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}

.movie-info p {
    margin-bottom: 5px;
    line-height: 1.6;
}

.trailer{
    margin-top:10px;
}

.trailer h3{
    margin-bottom:10px;
}

.trailer iframe {
    width: 70%;
    max-width: 600px;
    height: 175px;
    border: none;
    border-radius: 6px;
}

.booking-box{
    background-color: #796c09;
    max-width: 600px;
}

  



@media (max-width:768px) {
    header {
        flex-direction: column;
        gap: 15px;
        text-align: center;
        flex-wrap: wrap;
    }

    nav a {
        flex-direction: column;
    }

    .movie-row,
    .movie-grid {
        flex-direction: column;
        align-items: center;
    }

    .trailer iframe{
        height: 150px
    }


}